:root {
    --main: #323232;
    --secondary: #2b2b2b;
    --bg: #191919;
    --topheight: 2em;
}

* {
    letter-spacing: .6;
}

::-webkit-scrollbar-track {
    background: #191919;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary);
}

@font-face {
    font-family: Main;
    src: url(CreatoDisplay-Regular.otf);
}

@media only screen and (max-width: 1000px) {
    #layout .work {
        flex-direction: column;
        height: calc(100svh - 2*(var(--topheight)))
    }

    #layout .work .toolbar ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 60%;
        justify-content: center;
        margin: 0;
        gap: 2em;
    }

    #layout .work .toolbar {
        flex-basis: 1em;
        width: 100%;
        height: 3em;
        display: flex;
        place-content: center;
        align-items: center;
    }

    .work .toolbar ul li img {
        width: auto;
        height: 100%;
    }

    #layout .work .main {
        display: grid;
        height: 50%;
        flex-basis: 1px;
        flex-grow: 1;
        grid-template-columns: auto auto;
    }

    .work .toolbar {
        grid-area: toolbar;
    }

    .work .main {
        grid-area: main;
    }

    .work .right {
        grid-area: right;
    }

    .display {
        flex-basis: 1px;
        flex-grow: 0;
    }

    .layers {
        flex-basis: 50em;
        height: 20%;
    }

    #layout .right {
        flex-direction: row;
    }

    #layout .right .color {
        flex-basis: 50%;

    }

    #layout .work .main .layers {
        height: auto;
    }

    #layout .work .main .display .slideshow-container {
        height: calc(100svh - 2*(var(--topheight)) - 45%);
    }

    #layout .work .right {
        height: auto;
    }

    #layout .work .main {
        flex-direction: column;
    }

}

body {
    background-color: var(--bg);
    margin: 0;
}

#layout {
    display: flex;
    flex-direction: column;
    gap: 1px;
    height: 100svh;
}

#layout .topnav {
    flex-basis: var(--topheight);
    width: 100%;
    background-color: var(--main);
    display: flex;
    align-items: center;
}

.topnav .logo {
    height: 50%;
    aspect-ratio: 1;
    background-image: url(Misty\ 3D\ Logo\ trans.png);
    background-size: contain;
    margin: 0 5px;
}

.topnav .navbtns {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center;
    gap: 5px;
}

.topnav .navbtns li {
    display: flex;
    align-items: center;
    height: 80%;
    font-family: Main;
    color: white;
    font-size: .9em;
    border-radius: 4px;
    padding: 0 8px;
}

.topnav .navbtns li:hover {
    background-color: rgb(40, 40, 40);
}

#layout .header {
    flex-basis: var(--topheight);
    width: 100%;
    background-color: var(--main);
    display: flex;
    align-items: center;
}

.header .right {
    background-color: rgb(0, 89, 255);
    padding: 3px 12px;
    color: white;
    border-radius: 10px;
    font-family: Main;
    font-size: .9em;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: white;
}

#layout .header .left {
    display: flex;
    align-items: center;
    height: var(--topheight);
    flex-grow: 1;
}

.header .left > * {
    transform: translateX(10px);
    font-family: Main;
    color: white;
    font-size: 14px;
    height: 75%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-left: 2px solid var(--bg);
}

.header .left .e {
    border-right: 2px solid var(--bg);
}

.header .left > * > img {
    object-fit: contain;
    max-height: calc(var(--topheight) - 10px);
}

#layout .work {
    flex-basis: 200px;
    width: 100%;
    flex-grow: 1;
    gap: 2px;
}

#layout .work {
    display: flex;
}

.work .toolbar {
    flex-basis: 3em;
    height: 100%;
    background-color: var(--main);
}

.work .toolbar ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
    width: 40%;
    list-style-type: none;
    margin: 20px auto;
}

.work .toolbar ul li img {
    width: 100%;
}

.work .main {
    flex-grow: 1;
    flex-basis: 300px;
    height: 100%;
    display: flex;
}

.main .display {
    flex-basis: 200px;
    flex-grow: 1;
    display: flex;
    background-color: var(--bg);
}

.main .layers {
    flex-basis: 16em;
    height: 100%;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
}

.main .layers .top {
    flex-basis: 150px;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid var(--bg);
}

.main .layers .bottom {
    position: absolute;
    bottom: 0;
    display: flex;
    background-color: var(--main);
    width: 16em;
    height: 25px;
    justify-content: center;
    gap: 1em;
    align-items: center;
    border-top: 2px solid var(--bg);
}

.main .layers .bottom > img {
    height: 70%;
}

.main .layers .grid {
    flex-grow: 1;
    width: 100%;
    height: 100px;
    overflow-y: scroll;
}

.main .grid .dot {
    display: flex;
    width: 95%;
    margin: 0 auto;
    height: 55px;
    align-items: center;
    gap: 5px;
    border-bottom: 2px solid var(--bg);
}

.dot .eye {
    height: 60%;
    width: 30px;
    display: flex;
    justify-content: center;
    border-right: 1px solid black;
}

.dot .eye img {
    opacity: 0;
    width: 50%;
    object-fit: contain;
}

.active .eye img {
    opacity: 1;
}

.dot > img {
    height: 45px;
    width: 36px;
    box-sizing: border-box;
    object-fit: cover;
    border: 1px solid white;
}

.dot .name {
    color: white;
    font-family: Main;
    font-size: .8em;
    margin-left: 8px;
}

.work .right {
    flex-basis: 18em;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.work .right .color {
    flex-basis: 40%;
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right .color h1 {
    margin: 20px 0;
    font-family: Main;
    font-size: 24px;
    color: white;
}
.right .color img {
    width: 130px;
    border-radius: 200px;
    border: 2px solid white;
}

.color p {
    margin: 25px 0;
    width: 80%;
    text-align: center;
    font-family: Main;
    color: white;
}

.work .right .properties {
    flex-grow: 1;
    background-color: var(--main);
}

.slideshow-container {
    width: 95%;
    height: 88vh;
    position: relative;
    margin: auto;
    justify-content: center;
    place-content: center;
}

.mySlides {
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.mySlides img {
    max-height: 100%;
    max-width: 100%;
}

.active, .dot:hover {
    background-color: rgb(70, 70, 70);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    display: inline-block;
}

.spanH {
    grid-area: spanH;
}

.spanW {
    grid-area: spanW;
}

.spanDate {
    grid-area: spanDate;
}

.spanPrice {
    grid-area: spanPrice;
}

.properties .b .props > div {
    color: white;
    font-family: Main;
    display: grid;
    gap: 15px;
    grid-template: 'spanH spanW' 'spanDate spanPrice';
}

.properties .b {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--bg);
    width: 90%;
    margin: 0 auto;
}

.properties .a {
    width: 90%;
    margin: 12 auto 20 auto;
    border-bottom: 2px solid var(--bg);
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    font-family: Main;
}

.properties .a img {
    height: 20px;
    padding: 7px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
}

.properties .a h1 {
    font-size: 16px;
    margin: 0;
}

.properties .b h1 {
    font-size: 16px;
    color: white;
    font-family: Main;
    margin: 0 0 20px 13px;
}

.properties .b .props > div > span {
    display: flex;
    align-items: center;
    gap: 3px;
}

.properties .b .props > div > span > div {
    padding: 3px 8px;
    background-color: var(--secondary);
    border: 1px solid white;
    border-radius: 6px;
}

.properties .c {
    width: 90%;
    margin: 0 auto;
    color: white;
    font-family: Main;
}

.properties .c h1 {
    font-size: 16px;
}

.properties .c > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.properties .c > div > span {
    background-color: var(--secondary);
    padding: 6px 20px;
    text-align: center;
    border: 1px solid white;
    border-radius: 4px;
}

.myProps {
    display: block;
}

.layers .top {
    display: flex;
    flex-direction: column;
}

.layers .top h1,
.layers .top h2 {
    margin: 10 0 0 0;
    color: white;
    font-family: Main;
    text-align: center;
}

.layers .top h1 {
    font-size: 24px;
}

.layers .top h2 {
    font-size: 20px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

.layers .top a {
    font-family: Main;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    background: var(--secondary);
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 6px;
}

.layers .top img {
    width: 20px;
}
